# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

# ignore some testing materials
internal/metrics/toolchainstatus_test.json
